numpy
pandas
scikit-learn==1.6.0
psutil
lz4
scipy
tensorflow
numba
joblib
pytest
matplotlib
seaborn
dask
ray
tqdm
xgboost
lightgbm
catboost
retry
retrying
pytest
hilbertcurve
seaborn
bokeh
statsmodels
pandas
ipython
smote
imblearn